<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/homePage.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
</head>

<body>
    <div class="container">
        <!-- sidebar  started--------------------------------------------- -->
        <div></div>
        <aside class="left-side">
            <div class="left-navbar">
                <div class="twitter-img menu">
                    <img src="/assets/twitter.png" class="twitter-icon" />
                </div>

                <div class="sec-menu">
                    <div class="menu">
                        <a href="/homePage">
                            <div>


                                <i class="bi bi-house-door-fill"></i>
                                <span>Home</span>
                            </div>
                        </a>
                    </div>
                    <!--  <div class="menu">
                        <a href="">
                            <div>
                                <i class="bi bi-hash"></i>
                                <span>Explore</span>
                            </div>
                        </a>
                    </div> -->
                    <!-- <div class="menu">
                        <a href="">
                            <div>
                                <i class="bi bi-bell-fill"></i>
                                <span>Notifications</span>
                            </div>
                        </a>
                    </div>-->
                    <div class="menu">
                        <a href="/tweet_blue/tblue">
                            <div>
                                <i class="bi bi-reception-4"></i>
                                <span>Twitter Blue</span>
                            </div>
                        </a>
                    </div>
                    <div class="menu">

                        <%let username = user_data[0].user_username.replace('@','');
                        %>
                            <a href="/user/<%=username%>">
                                <div>
                                    <i class="bi bi-person-fill"></i>
                                    <span>Profile</span>
                                </div>
                            </a>

                            <div class="menu">
                                <a href="/tweet_logout/logout">
                                    <div>
                                        <i class="bi bi-three-dots"></i>
                                        <span>Logout</span>
                                    </div>
                                </a>
                            </div>
                            </a>

                    </div>
                    <button class="tweet-btn" onclick="window.location='/homePage'">Tweet</button>

                    <div class="profile-btn">
                        <a href="/user/<%=username%>" class="profile-id">
                            <div class="left-pro">
                                <img src="/assets/profile/<%=userName[0].profile_image%>" class="profile-img" />
                            </div>
                            <div class="right-pro">
                                <div>
                                    <div class="show-pro">
                                        <strong>
                                    <%=userName[0].user_name%>
                                </strong>
                                        <span class="tag">
                                    <%=userName[0].user_username%>
                                </span>
                                    </div>
                                </div>

                                <!-- <div class="pro-more">
                            <a href="">
                                <div><i class="bi bi-three-dots"></i></div>
                            </a>
                        </div> -->
                            </div>
                        </a>
                    </div>

                </div>
        </aside>

        <!-- sidebar  ended--------------------------------------------- -->

        <!-- content main------------------------------------------------->



        <div class="wrapper">
            <header>
                <div class="header-container">

                    <div class="account-header">
                        <a href="" target="_top">
                            <p class="account-name">
                                <span> HOME </span>
                            </p>
                        </a>

                    </div>

                </div>
            </header>
            <section class="content">

                <form action="/tweet" method="post" enctype="multipart/form-data">
                    <div class="tweet">
                        <div class="left-clm">
                            <img src="/assets/profile/<%=userName[0].profile_image%>" class="tweet-send" />
                        </div>
                        <div class="right-clm">
                            <div class="tweet-area">
                                <textarea name="tweet_text" id="tweet-text" cols="36" rows="5" placeholder="What's Happening ?" onfocus="maxim()" onkeydown="maxim()" fixed></textarea>
                                <p id="error-max" class="error"></p>


                                <div class="part">
                                    <div class="p-1">
                                        <label for="tweet-img">
                                        <i class="bi bi-card-image"> </i>
                                        </label>
                                        <input type="file" id="tweet-img" name="image" accept="image/*" style="display: none; " />
                                        <input type="file" id="tweet-img" name="image" accept="image/*" style="display: none; " />
                                        <input type="file" id="tweet-img" name="image" accept="image/*" style="display: none; " />
                                        <div class="btn1">
                                            <i class="far fa-grin-beam m-2" id="emojiclk" onclick="emoji()"></i>
                                            <emoji-picker id="emoji" style="display: none;"></emoji-picker>
                                        </div>
                                    </div>
                                    <div class="p-2">
                                        <input type="submit" value="Tweet" class="tweet-a" id="tweetBtn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>



                <!-- tweet showings    -->


                <%for(j=0;j<tweets.length;j++){%>
                    <div class="tweets">
                        <div class="tweets-in d-flex">
                            <div class="left-clm">
                                <img src="/assets/profile/<%=tweets[j].profile_image%>" class="profile-img" />
                            </div>
                            <div class="right-clm">
                                <div class="d-flex flex-column">
                                    <div class="user-tweet d-flex flex-row">
                                        <div class="user">
                                            <a href="/user/<%=tweets[j].user_name%>" class="link_color"><strong id=""><%=tweets[j].user_name%></strong></a>
                                            <span class="tag"><%=tweets[j].user_username%></span>
                                            <span class="tweet_time"><%=tweet_create[j]%></span>
                                        </div>
                                        <div class="more">
                                            <a href="">
                                                <i class="bi bi-three-dots"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tweets-area">
                                        <p class="tweet-text" id="tweet-text">
                                            <%=tweets[j].tweet_content%>
                                        </p>
                                        <%if(tweets[j].tweet_image){%>
                                            <img src="upload/<%=tweets[j].tweet_image%>" class="tweet-img">
                                            <%}%>
                                                <div class="like-icons">
                                                    <div class="icon">

                                                        <i class="fa-solid fa-comment" id="reply" onclick="popcomment('<%=tweets[j].tweet_id%>','<%=j%>')"></i>
                                                        <span class="reply-count" id="reply-count">
                                                                <%=totalcmt[j].comment_count%>
                                                            </span>
                                                    </div>
                                                    <div class="icon">
                                                        <i href="" class="fa fa-heart" id="like<%=tweets[j].tweet_id%>" onclick="likeFunction('<%=tweets[j].tweet_id%>')"></i>
                                                        <span class="like-count" id="s<%=tweets[j].tweet_id%>">
                                                            <%=tweets[j].like_count%>
                                                        </span>
                                                    </div>
                                                    <div class="icon">
                                                        <i class="fa-solid fa-retweet" id="<%=tweets[j].tweet_id%>" onclick="retweet(this.id)"></i>
                                                        <span class="retweet-count" id="span<%=tweets[j].tweet_id%>">
                                                            <%=tweets[j].retweet_like_count%>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="cmt" name="cmt-box" id="cmt-box">
                                                    <div class="cmt-enter">
                                                        <div class="head">
                                                            <h5>Type your Reply.. </h5>
                                                        </div>
                                                        <div class="cmt-content">
                                                            <form>
                                                                <div class="cmt-textarea">
                                                                    <textarea class="cmt border border-secondary" id="cmt" onblur="alertcmt('<%=tweets[j].tweet_id%>','<%=j%>')" name="cmt"></textarea>
                                                                </div>
                                                                <p class="alert"></p>
                                                                <div class="cmt-footer">
                                                                    <!-- <div class="btn1">
                                                                        <a class="far fa-grin-beam" id="emojiclk"
                                                                            onclick="emoji()"></a>
                                                                        <emoji-picker id="emoji"
                                                                            style="display: none;"></emoji-picker>
                                                                    </div> -->
                                                                    <div class="btns">
                                                                        <div class="btn3"><a class="btn btn-secondary" id="close" onclick="closecomment('<%=tweets[j].tweet_id%>','<%=j%>')">Close</a>
                                                                        </div>
                                                                        <div class="btn2" id="savecommentbtn" name="savecommentbtn">
                                                                        </div>
                                                                    </div>
                                                                    <div class="cmt-show" id="cmt-show" name="cmt-show">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
            </section>




        </div>
        <!-------------------------content main ended----------------------->

        <!--------------------------rigth-side started---------------------->
        <aside class="right-side">
            <div class="right-fix">
                <div class="search-bar">

                    <div> <i class="bi bi-search"></i></div>
                    <input class="search" placeholder="Search user" id="search-text" onkeydown="search()" />
                </div>
                <div class="searcherr">
                    <p id="search_err"></p>
                </div>

                <div class="search_profiles">
                    <div id="search_pro">
                    </div>
                </div>
                <!-- <div class="wtf"> -->
                <div class="wtf-profile">
                    <div class="wtf-head">
                        <span class="w-t-f">Who to Follow</span>
                    </div>

                    <div class="wtf-list">
                        <div class="wtf-list-in">
                            <%for(let i=0;i<whoFollow.length;i++){%>

                                <div class="recommand-profile">
                                    <% let username='' ; username=whoFollow[i].user_username.replace('@',''); %>
                                        <div class="profile-btn-s">
                                            <div class="left-clm-s">
                                                <img src="/assets/profile/<%=whoFollow[i].profile_image%>" class="profile-img-s" />
                                            </div>
                                            <div class="right-clm-s">
                                                <a href="/user/<%=username%>">
                                                    <div>
                                                        <span>
                                                            <%=whoFollow[i].profile_name%>
                                                        </span>
                                                        <small>
                                                            <%=whoFollow[i].user_username%>
                                                        </small>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="follow-btn-s">
                                                <input type='button' class="follow-a" id="follow<%=whoFollow[i].user_id%>" onclick='follow(this.id,"<%=whoFollow[i].user_id%>")' value="Follow">
                                            </div>
                                        </div>

                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </aside>
        <!---------------------rigth -side ended---------------------------------->
    </div>
</body>

<script>
    //sid--------------------------------------------------------
    var userLike = [];
    '<%for(let i=0;i<userLiked.length;i++){%>'
    userLike.push('<%=userLiked[i]%>');
    '<%}%>'
    userLike.forEach(element => {
        //console.log(element);
        document.getElementById(element).style.color = "green";
    });
    //console.log(userLike);

    //--------------------vishwa--------------------------------
    var tweetlike = [];
    '<%for(let i=0;i<user_liked.length;i++){%>'
    tweetlike.push('<%=user_liked[i]%>')
    '<%}%>'
    //console.log("LIKE", tweetlike);
    tweetlike.forEach(element => {

        document.getElementById("like" + element).style.color = "red";
    });
</script>


<script src="/js/homePage.js">
</script>

</html>